      :root {
        --hot-pink: #FF54B3;
        --main-font: 'Press Start 2P';
      }
      #container {
        display: grid;
      }
      * {
        box-sizing: border-box;
      }
      
      body {
        background-color: black;
        color: cyan;
        font-family:'Press Start 2P',sans-serif;
        line-height: 2;
        font-size: 20px;
        max-width: 1600px;
        margin: 0 auto;
      }
      a {
        color: white;
      }
      a:hover {
        color: var(--hot-pink);
      }
      input, select {
        padding: 1em;
        background-color: black;
        color: var(--hot-pink); 
        font-family: var(--main-font);
        border: 5px cyan solid;
        font-size: 1.2em;
      }
      #statusBox {
        border: solid 5px black;
        background-color: pink;
        color: black;
        width: 40%;
        min-width: 200px;
        min-height: 200px;
      }
    a {
      display: block;
      font-size: 20px;
    }
    input, label, button {
      display: block;
    }
    #wrapper {
      display: flex;
      flex-direction: row;
      max-width: 1000px;
      margin: 1em auto;
    }
    .hideme {
      display: none;
    }
    /* NAV STUFF */
    nav {
      max-height: 6em;
      text-align: center;
    }
    nav ul {
      display: flex;
      justify-content: center;
      list-style: none;
    }
    nav li {
      padding: 1em;
      max-height: 6em;
      min-width: 10em;
    }
    nav li:hover{
      background-color: var(--hot-pink);
      color: white;
    }
    nav a {
      text-decoration: none;
    }
    nav a:hover{
      color: white;
    }
    /* END NAV */
    #overlay {
      z-index: 1000;
      display: none;
      width: 100%;
      height: 100vh;
      background-color: rgba(0,0,0,0.5);
    }
    #dialog {
      margin: 0 auto;
      height: 400px;
      width: 200px;
      background-color: pink;
    }
    #overlay button {
      height: 100px;
      width: 200px;
      background-color: orange;
    }
    #graveyard {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background-color: greenyellow;
      width: 1200px;
      margin: 0 auto;
    }
    .grave {
      background: url('../grave.png') no-repeat;
      background-size: 100%;
      max-width: 320px;
      max-height: 320px;
      min-width: 320px;
      min-height: 320px;
      color: #555364;
      font-size: 1.15em;
      padding: 5em 0 0 3em; 
      text-align: center;
      line-height: 1.25;
      text-overflow: ellipsis;
    }
    .grave a {
      color: #F1F1F1;
      font-size: 1em;
    }
    .graveName {
      max-height: 4em;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .flashes {
      background-color: white;
      color: black;
      text-align: center;
      list-style: none;
      margin: 0 auto;
      max-width: 900px;
    }
    button {
      font-family: var(--main-font);
      background-color: cyan;
      color: black;
      padding: 2em 3em;
      margin: 1em;
      font-size: 1em;
      border: none;
      text-align: center;
    }
    button:hover {
      background-color: var(--hot-pink);
    }
    main {
      padding: 3em;
      text-align: center;
    }
    footer {
      text-align: center;
    }
    
    
    /* HOMEPAGE */ 
    
    #slideContainer {
      margin: -80px auto 40px;
      width: 860px;
      height: 640px;
      max-height: 640px;
      background-image: url('../logo.png');
      background-repeat: no-repeat;
    }
    .blink {
      text-shadow: 0px 0px 5px rgba(0,0,0,1);
      position: relative;
      top: 75%;
      animation: blink 2s infinite;
    }
    .blink:hover {
      animation: none;
    }
    .blink a {
      font-size: 2.4em;
      text-decoration: none;
    }
    .blink a:hover {
      color: cyan;
    }
    #tagline {
      color: white;
    }
    @keyframes blink {
      20% {opacity: 0}
    }
    @keyframes slide-pic {
      
    }

    /* SIGNUP AND LOGIN */

    #signup, #login {
      max-width: 600px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      align-items: center;
    }
    #signup input, #signup button, #login input, #login button {
      margin: 1.10em 0px;
    }

    /* USER PAGE */
    #players {
      text-align: left;
      grid-column-start: 1;
      min-width: 600px;
    }
    #newPlayer {
      grid-column-start: 2;
      text-align: left;
    }
    
    #createPlayer {
      background-color: white;
      color: black;
      padding: 1em;
      font-size: 80%;
      text-align: left;
      display: flex;
      flex-direction: column;
    }
    #createPlayer label {
      font-size: 1.10em;
      margin-bottom: 1em;
    }
    #createPlayer select {
      font-size: 1em;
      height: 73px;
    }
    #createPlayer input {
      font-size: 1em;
    }
    #createPlayer button {
      font-size: 1.5em;
      height: 75px;
      padding: 0;
    }
  
    /* PLAYER PAGE */
    
    #playerData {
      color: white;
      text-align: left;
    }
    #playerData h2 {
      color: cyan;
    }
    #launchBox {
      border: 5px white solid;
      margin-left: 1em;
      padding: 3em;
    }
    #launchBox a {
      text-decoration: none;
    }
    #collectionBox h3 {
      color: white;
      margin: 2em;
    }

    #collectionBox p {
      color: white;
    }
    h3.collection {
      color: white;
      margin-top: 2em;
    }
    #storyBlocks {
      color: white;
      text-align: left;
    }


    /* LEADERBOARD */
  #wrapperColumn {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 1em auto;
  }
  .placard {
    background-color: white;
    color: black;
    max-width: 500px;
    padding: 1em;
    margin: 1em;
    text-align: left;
    border: 5px solid cyan;
  }
  .placard h3 {
    font-size: 1em;
    margin: 0;
  }
  #first.placard {
    width: 100%;
    max-width: none;
    font-size: 1.4em;
  }
  #first.placard h3 {
    font-size: 1.8em; 
  }
  #second, 
  #third {
    width: 100%;
    max-width: none;
  }
  #second h3, #third h3 {
    font-size: 1.35em;
  }
  #topThree {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #topThree h2 {
    margin-bottom: 0;
  }
  #others {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* GAME BOARD */
  button#game {
    font-size: 1.80em;
    width: 700px;
    margin: 0 auto;
    padding: 1em;
  }
  #playerDataGame span#name {
    font-size: larger;
    color: white;
  }
  #mapbox {
    display: flex;
    flex-direction: row;
  }
  #playerDataGame.stats {
    display: flex;
    flex-direction: row;
    font-size: 1em;
  }
  #playerDataGame h2 {
    font-size: 1.15em;
    margin: 0;
  }
  #gameContainer {
    max-width: 1000px;
    max-height: 800px;
    overflow: scroll;
    border: 5px solid cyan;
  }
  #veil {
    margin-top: -1em;
  }

      #textBox {
        border: solid 5px var(--hot-pink);
        background-color: black;
        color: #FFFFFF;
        line-height: 0.95;
        overflow: scroll;
        font-size: 0.75em;
        max-width: 540px;
        height: 610px;
        max-height: 610px;
        text-align: left;
        padding: 0 1em;
      }
    #enemyDialog {
      max-width: 300px;
      display: flex;
    }
    #enemyDialog button {
      max-width: 200px;
      padding: 1em;
      justify-content: space-between;
    }
