{% extends 'base.html' %}
{% block content %}
  <header>
    WELCOME TO THE GAME
  </header>
  <main>
    <h1>THE GAME</h1>
    HERE IS THE GAME
    <div id="mapbox">
    THE MAP WILL RENDER HERE, SOMEDAY.
      <canvas id="canvas" width="600" height="400"></canvas>
      <!-- <img src="/static/tiles.png"/> -->
    </div>
<div style="display:none;">
  <img id="sprites"
       src="/static/demo_tiles.PNG">
       <!-- width="300" height="227"> -->
</div>
    <button id="game">MOVE!</button>
  </main>
  <script src="static/js/game.js"></script>
</body>
{% endblock %}
