{% extends 'base.html' %}
{% block content %}
  <header>
  </header>
  <main>
    <div id="mapbox">
      <span id="player_id" style="display:none;">{{ player_id }}</span>
      <div id="playerData">
        <h2><span id="name"></span></h2>
        LEVEL:<span id="level"></span>&nbsp;EXP:<span id="exp"></span>
        <br>
        SCORE:<span id="score"></span>
        <br>
        HP:<span id="stat_hp"></span>/<span id="stat_hp_max"></span>
        <br>
        STR:<span id="stat_str"></span>&nbsp;DEX:<span id="stat_dex"></span>&nbsp;INT:<span id="stat_int"></span>&nbsp;CHA:<span id="stat_cha"></span>
        <br>
        ARMOR:<span id="stat_arm"></span>&nbsp;WEAPON:<span id="stat_weap"></span>

      </div>
      <div id="textBox"></div>
      <div id="enemyDialog" style="display:none;">
        <button id="attack">ATTACK!</button>
        <button id="run">RUN AWAY</button>
      </div>
      <button id="game">START THE GAME!</button>
      <canvas id="canvas" width="600" height="400"></canvas>
      <!-- <img src="/static/tiles.png"/> -->
      <div id="gameData">
        <h2>NAME:<span id="name"></span></h2>
        <h2>MUTATION:<span id="mutation"></span></h2>
        <h2>REGENT: <span id="regent"></span></h2>
        <h2>STATUS: <span id="alive"></span></h2>
      </div> 
    </div>
<div style="display:none;">
  <img id="sprites"
       src="/static/demo_tiles.PNG">
</div>
  </main>
  <script src="/static/js/game.js"></script>
</body>
{% endblock %}
