{% extends 'base.html' %}
{% block content %}
  {% if not leaders:%}
    No scores recorded.
  {% endif %}
  {% for position in leaders: %}
    <div id={{position}} class="placard">
      <h3>{{leaders[position][0].name}}</h3>
      SCORE: {{leaders[position][0].score}}
      <br>
      COLLECTED ITEMS: {{leaders[position][1]}}
    </div>
  {% endfor %}
  {% for player, collected in players: %}
    <div class="placard">
      <h3>{{player.name}}</h3> 
      SCORE: {{player.score}}
      <br>
      COLLECTED ITEMS: {{collected}}
    </div>
  {% endfor %}
{% endblock %}
