{% extends 'base.html' %}
{% block content %}
    <form action="/login" method="POST" id="login">
      <label>ENTER YOUR EMAIL <input type="text" name="email"></label>
      <label>YOUR PASSWORD (PLAIN TEXT) : <input type="password" name="pass"></label>
      <button type="submit">LOG IN</button>
    </form>


    <form action="/start_game" method="POST" id="start">
      <label>ENTER THY NAME:<input name="name" type="text"/></label>
      <br>
      <button type="submit">Start Game</button>
    </form>
{% endblock %}
