{% extends 'base.html' %}
{% block content %}
  NAME ::: {{ name }}
  {% if not collected %}
  <p> You haven't collected anything yet! </p>
  {% endif %}
  {% for item in collected: %}
      <h2> {{ item }} </h2>
  {% endfor %}
  <a href="{{ id }}/game">LAUNCH GAME</a>
  {% include 'player_data.html'%}
  ALIVE?: <span id="alive"></span><br>
  MUTATION: <span id="mutation"></span><br>
  <div id="storyBlocks">
  </div>
  <script src="/static/js/stats.js"></script>
  <script src="/static/js/playerData.js"></script>
  <script>
    getStats({{id}});
    getStory({{id}});
  </script>
{% endblock %}
