{% extends 'base.html' %}
{% block content %}
<div id="wrapper">
    <div id="playerData">
      {% include 'player_data.html'%}
      <span id="alive" class="hideme"></span>
      <span id="mutation" class="hideme"></span>
    </div>
    <div id="launchBox">
      <a href="{{id}}/game">
        <button>LAUNCH GAME</button>
      </a>
    </div>
</div>
<div id="collectionBox">
    <h3>YOUR COLLECTED ITEMS:</h3>
    {% if not collected %}
    <p>You haven't collected anything yet! </p>
    {% endif %}
    {% for item_name, desc in collected: %}
      <div>
        <h2> {{ item_name.upper() }} </h2>
        <p>{{ desc }}</p>
      </div>
    {% endfor %}
</div>

<h3 class="collection">YOUR STORY:</h3>
<div id="storyBlocks">
</div>
  <script src="/static/js/stats.js"></script>
  <script src="/static/js/playerData.js"></script>
  <script>
    getStats({{id}});
    getStory({{id}});
  </script>
{% endblock %}
