{% extends 'base.html' %}
{% block content %}
  HELLO USER! You have logged in.
  {% if not players %}
  <p> You have not created any players. </p>
  {% endif %}
  {% for player in players:%}
  <a href="/user/{{user_id}}/player/{{player.player_id}}">{{player.name}}</a>
  {% endfor %}
  <br>
  CREATE NEW PLAYER!
  <form action="/api/create_player" id="createPlayer">
    <label>PLAYER NAME: <input type="text" name="name"></label>
    <button type="submit">CREATE ME</button>
  </form>
  <br>
  <script src="/static/js/createPlayer.js"></script>
{% endblock %}
